/*  Font Style, Sizes, and Padding  */

body {
	color: #333;
	text-rendering: optimizeLegibility;
	font-family: "skolar","Times New Roman",serif;
	font-feature-settings:"liga", "dlig";
	font-feature-settings: "kern";
	font-size:18px;
	font-weight:400;
	vertical-align: baseline;
	-moz-font-feature-settings:"liga=1, dlig=1"; 
  	-ms-font-feature-settings:"liga", "dlig"; 
  	-o-font-feature-settings:"liga", "dlig"; 
  	-webkit-font-feature-settings:"liga", "dlig"; 
  	-webkit-font-smoothing: antialiased;
  	font-feature-settings:"liga", "dlig";
}

a {
	color: #006ff6;
	text-decoration: none;
}

abbr {
  letter-spacing: 0.1em;
}

.bio {
	font-size: 1em;
	line-height: 1.618em;
}

.bio p {
	text-indent: 0em;
	line-height: 1.618em;
	margin-top: 0em;
	margin-bottom: 0em;
}

.cv {
	font-size: 1em;
	line-height: 1.618em;
}

.cv p {
	margin-top: 0em;
	line-height: 1.618em;
	margin-bottom: 1.618em;
}

.cv a {
	text-decoration: none;
}

.subtitle1 {
	font-family:"adobe-caslon-pro",Georgia,serif;;
	font-weight:600;
	font-size: 1em;
	line-height: 1.618em;
	margin-bottom: 1.618em;
}

.subtitles {
	font-family:"adobe-caslon-pro",Georgia,serif;;
	font-weight:600;
	font-size: 1em;
	line-height: 1.618em;
	margin-bottom: 1.618em;
	margin-top: 1.618em;
}

/*  SECTIONS  */

.myname {
	font-family:"adobe-caslon-pro",Georgia,serif;;
	clear: both;
	margin-left: 10.5%;
	margin-right: 6%;
	font-weight:400;
	font-size: 1.618em;
	margin-top: 4.236em;
	margin-bottom:0em;
}

.myname p {
	margin-bottom:-1em;
	line-height:1.618em;
}

.section {
	clear: both;
	padding: 0px;
	margin-left: 10.5%;
	margin-right: 6%;
	margin-top: 0em;
}

/*  COLUMN SETUP  */

.col {
	display: block;
	float:left;
	/*margin: 1% 0 1% 8.5%;*/
	margin: .618em 0 0 2.618em;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               		
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 45%;
}






/*  Responsive Breakpoints for Computer Displays */
@media only screen and (min-width: 1300px) {
	body { 
		font-size:120%; 
	}
}

/*  Responsive Breakpoints for Computer Displays */
@media only screen and (max-width: 1000px) {
	body { 
		font-size:90%; 
	}
}

/* snap everything into one column at this point*/
@media only screen and (max-width: 800px) {
	
	body {
		font-size:100%;
	}
	
	.col { 
		margin: 1% 0 1% 0%;
	}
	
	.span_2_of_2 {
		width: 100%; 
	}
	
	.span_1_of_2 {
		width: 100%;
	}
	
	.bio {
		font-size:1em;
		padding-bottom:1.618em;
	}

	.subtitle1 {
		font-size:1em;
	}

	.subtitles {
		font-size:1em;
	}

	.cv {
		padding-top:1.618em;
		font-size:1em;
		border-top-style: dotted;
		border-top-width: 1px;
	}

	.section {
		margin-left: 10%;
		margin-right: 10%;
	}

	.myname {
		clear: both;
		margin-left: 10%;
		margin-right: 10%;
		font-size: 1.618em;
		margin-top: 2.618em;
		margin-bottom: 1em;
	}

}

/* Decrease the font size below this pixel count */
@media only screen and (max-width: 550px) {
	body { 
		font-size:90%; 
	}
}


/* mobile devices in portrait */

@media screen and (max-device-aspect-ratio: 1/1) and (orientation : portrait) {

body {
		font-size:275%;
	}
	
	.col { 
		margin: 1% 0 1% 0%;
	}
	
	.span_2_of_2 {
		width: 100%; 
	}
	
	.span_1_of_2 {
		width: 100%;
	}
	
	.bio {
		font-size:1em;
		padding-bottom:1.618em;
	}

	.subtitle1 {
		font-size:1em;
	}

	.subtitles {
		font-size:1em;
	}

	.cv {
		padding-top:1.618em;
		font-size:1em;
		border-top-style: dotted;
		border-top-width: 1px;
	}

	.section {
		margin-top: 1.618em;
		margin-left: 5%;
		margin-right: 5%;
	}

	.myname {
		clear: both;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 1.618em;
		margin-top: 0.618em;
		margin-bottom: -1em;
	}

}

