/*  Font Style, Sizes, and Padding  */

body {
	color: #333;
	text-rendering: optimizeLegibility;
	/*font-family: "adobe-garamond-pro",Georgia,serif;*/
	font-family: "skolar",Georgia,serif;
	font-feature-settings: "smcp" on;
	font-feature-settings: 'liga' 1;
	font-feature-settings: "kern";
	font-size:18px;
	font-weight:300;
}

a {
	color: #006ff6;
	text-decoration: none;
}

.myname {
	font-size: 2.618em;
	font-weight: normal;
	font-family: "adobe-caslon-pro",Georgia,serif;
	margin-bottom: -1em;
}

.bio {
	font-size:1em;
	padding-top:.09em;
}

.space { 
	text-indent: 2em;
	margin-bottom: -1em;
}

.cv {
	font-size:.618em;
	padding-top:10.5em;
}

.cv a {
	color: #333;
	text-decoration: none;
}

.subtitle1 {
	font-size:1.618em;
	font-weight: normal;
	/* font-weight: 400; */
	font-family: "adobe-caslon-pro",Georgia,serif;
}

.subtitles {
	font-size:1.618em;
	font-weight: normal;
	/* font-weight: 400; */
	margin-top: 2em;
	font-family: "adobe-caslon-pro",Georgia,serif;
}




/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin-left: 16%;
	margin-right: 11%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 8%;
	margin-top:60px;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               		
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {

	width: 45%;
}







/*  GO FULL WIDTH On an iPad in Portrait Mode */
@media only screen and (min-width: 560px) and (max-device-width: 1136px) and (orientation: portrait) {


	body { 
		font-size:200%; 
	} /* Decrease the font size */

	.col { 
		margin: 1% 0 1% 0%;
	}

	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		border-top-style: dotted;
		border-top-width: 1px;
		width: 100%;
	}

	.cv {
		padding-top:15px;
	}

	.section {
		margin-left: 5%;
		margin-right: 5%;
	}		
}

/*  Two Columns Optimized for iPad in Landscape mode */
@media only screen and (min-width: 560px) and (max-device-width: 1136px) and (orientation: landscape) {

	body { 
		font-size:90%; 
	}

	.section {
		margin-left: 9%;
		margin-right: 4%;
	}		
}






/*  Responsive Breakpoints for Computer Displays */



/* increase the font size for large displays*/
@media screen and (min-width: 1200px) {
	body { font-size:110%; }
}


/* snap everything into one column at this point*/
@media only screen and (max-width: 800px) {
	
	.col { 
		margin: 1% 0 1% 0%;
	}

	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		border-top-style: dotted;
		border-top-width: 1px;
		width: 100%;
	}

	.cv {
		padding-top:15px;
		font-size:1.1em;
	}

	.section {
		margin-left: 10%;
		margin-right: 10%;
	}


}

/* Decrease the font size below this pixel count */
@media screen and (max-width: 670px) {
	body { font-size:90%; }
}





