body {
	color: #2b3e42;
	text-rendering: optimizeLegibility;
	font-family: "adobe-garamond-pro",Georgia,serif;
}

a {
	color: #006ff6;
	text-decoration: none;
}

.space {
	margin-top: -1em; 
	text-indent: 50px;
}

.myname {
	font-size: 2em;
}

.cv {
	font-size:1em;
	padding-top:79px;
}

.bio {
	font-size:1.2em; 
	padding-top:20px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin-left: 15%;
	margin-right: 12%;
}



/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 8%;
	margin-top:60px;

}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {

	width: 45%;
}




/*  GO FULL WIDTH On an iPhone */

/* @media only screen and (max-width: 480px) { */
@media only screen and (min-width: 560px) and (max-device-width: 1136px) and (orientation: portrait) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/* @media only screen and (max-width: 480px) { */
@media only screen and (min-width: 560px) and (max-device-width: 1136px) and (orientation: portrait) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		border-top-style: dotted;
		border-top-width: 1px;
		width: 100%;
	}

	.cv {
		padding-top:15px
	}

}



/*  GO FULL WIDTH less than 560 pixels */

@media only screen and (max-width: 560px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 560px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		border-top-style: dotted;
		border-top-width: 1px;
		width: 100%;
	}

	.cv {
	padding-top:15px
	}
}


